/* My custom changes to Bootstrap's CSS... */

/* Make the main link not look ugly with underlines */
a:hover {
  text-decoration: none;
}

/* Make modal header not so fat */
.modal-header {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* This was negative 15px and made it all weird */
.navbar-right {
  margin-right: 0px;
}

.footer {
  font-size: 12px;
  text-align: center;
  padding-top: 16px;
}

p {
  margin-bottom: 0px;
}

/* Fix the title above the stream to be responsive to screen size */
h1 {
  font-size: 3.5vmax;
}

#thejumbo {
  margin-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.jumbotron p {
  margin-bottom: 0px;
  margin-top: 8px;
}

.jumbotron h1 {
  margin-top: 8px;
  margin-bottom: 8px;
}
